.MainBody {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Lecture {
    padding-left: 3vw;
    /* padding-top: 50px; */
    width: 70%;
}

.Lecture video {
    border-radius: 10px;
}

.LectureDescription {
    background-color: rgb(26, 26, 26);
    opacity: 0.9;
    padding: 0.5rem;
    border-radius: 20px;
    width: fit-content;
}

.LectureDescription h3 {
    color: white;
}

.SideNav {
    position: relative;
    top: -350px;
    width: 30%;
    display: flex;
    flex-direction: column;
}